* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

header {
    background-color: #2b2828;
    padding: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-img {
    height: 30px;
    margin-left: -50px;
    margin-top: 15px;
    transition: transform 0.2s;
}

.logo-img:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li, .nav-links-two li {
    margin-left: 80px;
    margin-top: 15px;
}

.nav-links a, .nav-links-two a {
    text-decoration: none;
    font-size: 16px;
    color: #afafaf;
    transition: color 0.3s;
}

.nav-links a:hover, .nav-links-two a:hover {
    color: #ffffff;
}

footer {
    background-color: #2b2828;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: -20px;
}

.footer-info {
    display: flex;
    align-items: center; 
}

.footer-content p {
    font-size: 14px;
    margin: 0; 
    white-space: nowrap; 
    margin-left: 20px; 
    margin-top: -8px;
    margin-bottom: -5px;
}

.footer-content img {
    width: 91px;
    height: 80px;
    margin-top: -2px;
    margin-left: -105px;
    transition: transform 0.2s;
}

.odyn-img:hover {
    transform: scale(1.09);
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #7f7e7e;
    border: none;
    margin: 10px 0;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 22px;
    margin-top: -15px;
    justify-content: flex-end; 
    width: 100%;
    margin-right: -100px;
    margin-top: 1px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #c0c0c0;
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

.icon:hover {
    opacity: 0.85;
}

i {
    font-size: 18px;
    align-items: center;
    transition: transform 0.2s;
}

i:hover {
    transform: scale(1.15);
}

/* Animação de deslizar para o lado */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-in-right {
    animation: slideInRight 0.5s forwards;
}

.slide-out-left {
    animation: slideOutLeft 0.5s forwards;
}

/* menu-mobile */
.menu-mobile {
    display: none;
    background-color: #3c3c3c;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 60%;
}

.menu-mobile.slide-in-right {
    animation: slideInRight 0.5s forwards;
}

.menu-mobile.slide-out-left {
    animation: slideOutLeft 0.5s forwards;
}

.menu-mobile .btn-fechar {
    padding: 8px 4%;
    margin-bottom: -25px;
}

.menu-mobile .btn-fechar i {
    font-size: 30px;
}

.nav-links-two {
    list-style: none;
}

.menu-mobile .nav-links-two li {
    text-align: right;
    padding: 12px 4%;
}

.menu-mobile .nav-links-two li:hover {
    background-color: #5b5b5b;
}

.btn-abrir-menu {
    position: fixed;
    top: 20px; 
    right: 20px; 
    cursor: pointer;
    display: none;
    z-index: 9999;
}

.btn-abrir-menu i {
    font-size: 40px;
}

.acesse-sistema {
    background-color: #4d4d4d
}

@media screen and (max-width: 1365px) {
    .logo-img {
        margin-left: -20px;
    }

    .footer-content img {
        margin-left: -50px;
    }

    .social-icons {
        margin-right: -50px;
    }
}

@media screen and (max-width: 1265px) {
    .logo-img {
        margin-left: 0px;
    }

    .footer-content img {
        margin-left: 0px;
    }

    .social-icons {
        margin-right: 0px;
    }

    .footer-content p {
        margin-left: 2px;
    }

    body {
        overflow: auto;
    }
}

@media screen and (max-width: 900px) {
    .nav-links{
        display: none;
    }

    .footer-content p {
        margin-left: 2px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .social-icons {
        gap: 9px;
    }

    .menu-mobile {
        display: block;
    }

    .btn-abrir-menu i {
        display: block;
    }

    .btn-abrir-menu {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .footer-content p {
        font-size: 10px;
    }   
}