* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b2828;
    color: #fff;
}

.navbar-confirmacao {
    display: flex;
    justify-content: center; 
    padding: 20px;
    margin-top: 28px;
}

.navbar-confirmacao .nav-links {
    list-style: none;
}

.navbar-confirmacao .nav-links li {
    margin-top: 0;
}

.navbar-confirmacao .nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #afafaf;
    transition: color 0.3s;
}

.navbar-confirmacao .nav-links a:hover {
    color: #ffffff;
}

.confirmacao-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.confirmacao-section .text-container {
    margin-right: 20px; 
}

.confirmacao-section h1 {
    font-size: 2.5em; 
    font-weight: bold;
    margin-bottom: 10px;
}

.confirmacao-section p {
    font-size: 1.2em; 
    line-height: 1.6; 
    max-width: 600px;
    margin: 0;
    text-align: justify;
}

.confirmacao-section img {
    width: 9%; 
    max-width: 400px;
    height: auto;
    margin-left: 60px;
}

.confirmacao-section .social-icons {
    display: flex;
    justify-content: center; 
    margin-top: 30px; 
}

.confirmacao-section .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    background-color: #c0c0c0;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.confirmacao-section .icon:hover {
    opacity: 0.85;
}

.confirmacao-section i {
    font-size: 18px;
    align-items: center;
    transition: transform 0.2s;
    margin-top: 2px;
}

.confirmacao-section i:hover {
    transform: scale(1.15);
}

.confirmacao-section .social-icons .odyn-img {
    width: 80px;
    height: 69px;
    margin-left: -105px;
    transition: transform 0.2s;
    margin-top: -5px;
}

.confirmacao-section .social-icons .odyn-img:hover {
    transform: scale(1.09);
}

@media screen and (max-width: 1080px) {
    .confirmacao-section {
        flex-direction: column-reverse;
    }

    .confirmacao-section img {
        width: 12%;
        margin-bottom: 8px;
    }

    .confirmacao-section .text-container {
        margin-left: 15px;
    }
}